@font-face {
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir-Medium.woff2') format('woff2'),
    url('./assets/fonts/Avenir-Medium.woff') format('woff'),
    url('./assets/fonts/Avenir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir-Black.woff2') format('woff2'),
    url('./assets/fonts/Avenir-Black.woff') format('woff'),
    url('./assets/fonts/Avenir-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  background: #F0F3FF;
  color: #2E282C;
  font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 80px;
  padding: 100px;
  background: #FFFFFF;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}

.title {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 66px;
}

.selectors {
  display: flex;
  margin-top: 40px;
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
}

.input-selector {
  border: 1px solid #444444;
  box-sizing: border-box;
  border-radius: 6px;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 8px 22px;
  cursor: pointer;
  font-size: 24px;
  line-height: 33px;
}

.events {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 400px;
  gap: 40px;
}

.event-card {
  min-width: 300px;
  min-height: 200px;
  padding: 40px;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-weight: 900;
  font-size: 48px;
  line-height: 66px;

  color: #FFFFFF;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.date-box {
  display: inline-block;
  padding: 9px 13px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
}

.fav-item {
  height: 20px;
  cursor: pointer;
}

.fav-item svg {
  display: block;
}

@media (max-width: 1120px) {
  .events {
    grid-template-columns: repeat(1, 100%);
  }

  .selectors {
    flex-direction: column;
  }
}

@media (max-width: 730px) {
  .container {
    margin: 0;
    padding: 20px;
  }

  .event-card {
    min-width: 200px;
    padding: 20px;
  }
}